<% provide(:title, "About") %>
<h1>What is Franklin?</h1>
<p>This site is inspired by Benjamin Franklin, who believed that "energy and persistence conquer all things." Franklin devoted himself each week to one of thirteen virtues and tracked daily how many times he felt that he violated each virtue. At the end of the week, he moved on to the next virtue, cycling through all 13 virtues 4 times each year. We've brought Franklin's system of self-improvement into the Internet age so you can improve yourself in the same manner as one of history's greatest masters of self-improvement.</p>
