<% provide(:title, "Contact") %>

<h1> Contact us. </h1>

<p> If you're interested in learning more about what we do or if you have any questions, please contact us via <a href="mailto:bfranksystems@gmail.com">email</a>.</p>
