<% provide(:title, "Home") %>

<div class="jumbotron">
  <h1>Welcome to Franklin</h1>
</div>

<p>Benjamin Franklin was a master of self-improvement. How did Franklin rise from one of 10 children, whose formal education ended at age 10 to one of the leading statesmen and scientists of his day? At age 20, he developed a system of 13 virtues, focusing on one each week for 13 weeks. He continued to use this system to improve himself for the rest of his life. Try it yourself!</p>

<h3>Sign up here:</h3>

