// Place all the styles related to the Weeks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#list-display {
  list-style: none;
  li {
  display: block;
  overflow: auto;
  }
}

#submit-week {
  padding: 37px;
}

#submit-button {
  border-radius: 5px;
  background-color: #006400;
  color: white;
}

