<h3> This week let's focus on: <%= @virtue %> </h3>
<h4> This week's aphorism: <%= provide_aphorism(current_user.weeks.count) %> </h4>
<h4> I did my best to practice <%= @virtue %> but failed to practice <%= @virtue %> this many times on each day below: </h4>
